# Ignore Visual Studio temporary files, build results, and
# user-specific files
/.vscode
/.vs
/obj
/bin
*.json

# Include .TapPackage files in the ReleasePackages directory
!bin/Release/*.TapPackage


