# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vscode/
.vs/

# Ignore build results, except the release directory
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Ignore NuGet packages
*.nupkg
*.snupkg
.nuget/
packages/
*.nuget.props
*.nuget.targets

# Include .TapPackage files in the ReleasePackages directory
!bin/Release/*.TapPackage



